function BouncingGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 1
push constant 101
call Random.seed 1
pop temp 0
push this 1
push constant 1
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 30
push constant 80
call Random.between 2
pop this 1
label IF_FALSE0
push this 1
call Array.new 1
pop this 0
push pointer 0
call BouncingGame.initArray 1
pop temp 0
push pointer 0
return
function BouncingGame.initArray 6
push argument 0
pop pointer 0
push constant 256
pop local 0
push constant 128
pop local 1
push constant 0
pop local 5
label WHILE_EXP0
push local 5
push this 1
lt
not
if-goto WHILE_END0
push constant 1
push constant 8
call Random.between 2
pop local 4
push constant 0
push constant 360
call Random.between 2
pop local 3
push constant 10
push constant 20
call Random.between 2
pop local 2
push local 5
push this 0
add
push local 0
push local 1
push local 2
push local 3
push local 4
call Ball.new 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 5
push constant 1
add
pop local 5
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function BouncingGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function BouncingGame.run 2
push argument 0
pop pointer 0
label WHILE_EXP1
push constant 0
not
not
if-goto WHILE_END1
push constant 0
pop local 0
label WHILE_EXP2
push local 0
push this 1
lt
not
if-goto WHILE_END2
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Ball.updatePosition 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP2
label WHILE_END2
push constant 100
call Sys.wait 1
pop temp 0
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
